@import './variables.scss';

.header {
  height: $h-header;
  margin-bottom: $mb-header;
}

.navItem {
  position: relative;

  &:hover {
    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      height: 2px;
      background-color: #1e80ff;
      width: 100%;
    }
  }
}

.sectionContainer {
  min-height: calc(100vh - $h-header - $mb-header);
}

.footer {
  padding: 32px;
}

@media only screen and (max-width: 640px) {
  .header {
    margin-bottom: $mb-header-sm;
  }

  .sectionContainer {
    min-height: calc(100vh - $h-header - $mb-header-sm);
  }
}

.commonToolbar {
  @media only screen and (min-width: 1218px) {
    display: flex;
  }
}
