@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Fira Code,-apple-system,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica,Arial,sans-serif;
  }

  .max-w-main {
    max-width: calc(100% - 280px);
  }

  @media only screen and (min-width: 1160px) {
    .max-w-main {
      max-width: 820px;
    }
  }
}
